$header-color: $primary-color;
$nav-color: $secondary-color;

.top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after {
	display: none;
}

.title-area h1 a {
	display: none !important;
}

.header-logo {
	@extend .columns;
	@extend .small-12;
	@extend .medium-6;
	text-align: left;
	img {
		max-height: 80px;	
		margin: rem-calc(20) 0;
	}
}

.header-phone {
	text-align: right;
	font-weight: bold;
	font-size: rem-calc(26);
	line-height: 1;
	color: $header-color;
	a, a:hover, a:focus, a:visited {
		color: $header-color;
	}
	span {
		font-weight: normal;
		font-size: rem-calc(18);
	}
}

.header-details {
	@extend .columns;
	@extend .small-12;
	@extend .medium-6;
}

.nav-wrap {
	border-bottom: 10px solid darken($nav-color, 10);
}

@media #{$small-only} {
	.header-logo {
		text-align: center;
		img {
			margin: 15px 0 0;
			max-height: 60px;
		}
	}
	.header-details {
		text-align: center;
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(10);
		.header-phone {
			font-size: rem-calc(36);
			line-height: 1.6;
			text-align: center;
		}
	}
}

@media #{$medium-up} {
	.header-logo {
		img {
			max-width: 300px;
		}
	}	
	.header-phone {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@media #{$large-up} {
	.top-bar-section > ul > li:not(.has-form) > a:not(.button), .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
		  padding: rem-calc(30) rem-calc(25) rem-calc(20);
		  line-height: 1;
	}
	.top-bar {
		height: 66px;
	}
}