$header-color: $primary-color;

.brand {
  @extend .columns;
  @extend .medium-6;
  padding-top: 10px;
  padding-bottom: 10px;
  @media #{$small-only} {
    text-align: center;
  }
}

.primary-phone {
  @extend .columns;
  @extend .medium-6;
  @extend .hide-for-small-only;
  position: relative;
}

.primary-phone-content {
  font-family: $header-font-family;
  text-align: right;
  color: $body-font-color;
  font-size: rem-calc(30);
  text-transform: uppercase;
  position: relative;
  top: 80%;
  transform: translateY(-80%);
  span {
    font-family: $header-font-family;
    color: $header-color;
    font-weight: 300;
  }
}

.nav-wrap {
  position: relative;
  background-color: $header-color;
  background-image: url(../../images/pattern.png);
}

.left-col {
  @extend .columns;
  @extend .small-12;
  padding: 0 !important;
}

.top-bar {
  .title-area h1 {
    display: none;
  }
  .toggle-topbar {
    left: 0;
  }
  .toggle-topbar.menu-icon a span::after  {
    left: 72px;
  }
}

.top-bar-section .dropdown li.title h5 a:hover {
  &:hover {
    background-color: $topbar-dropdown-link-bg-hover !important;
  }
}

.top-bar-section ul li {
  @media #{$large-up} {
    background-color: transparent !important;
  }
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after {
  @media #{$large-up} {
    line-height: 0.1px !important;
  }
}

.top-bar-section ul li {
  a, > a {
    @media #{$small-only} {
      font-size: 18px !important;
      line-height: 48px !important;
    }
  }
  .dropdown a {
    @media #{$large-up} {
      font-size: 12px !important;
      line-height: 35px !important;
    }
  }
}

ul.left li a {
  &:hover {
    background-color: $topbar-secondary-color !important;
  }
}

.toggle-topbar.menu-icon {
  font-family: $header-font-family !important;
}

.right-col {
  position: absolute;
  top: 0;
  right: 15px;
  text-align: right;
  text-transform: uppercase;
  a {
    font-family: $header-font-family;
    color: white;
    font-size: rem-calc(14);
    height: $topbar-height;
    line-height: $topbar-height;
    i {
      font-size: rem-calc(18);
      color: rgba(white,0.60);
      padding-right: 10px;
      padding-left: 10px;
      @media #{$small-only} {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: darken(white, 20);
      i {
        color: rgba(darken(white, 20),0.60);
      }
    }
  } 
}

// homepage-hero

.homepage-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media #{$small-only} {
    height: 390px - $banner-height;
  }
  @media #{$medium-only} {
    height: 530px - $banner-height;
  }
  @media #{$large-only} {
    height: 690px - $banner-height;
  }
  @media #{$xlarge-up} {
    height: 870px - $banner-height;
  }
}