$carriers-color: lighten($tertiary-color, 28);

.c-carriers {
  @extend .u-common-padding; //see base.scss
  &__title {
    @extend .columns;
    @extend .small-12;
    text-align: center;
  }
  &__content {
    @extend .columns;
    @extend .small-12;
    .slick-slide img {
      display: block;
      max-width: 190px;
      max-height: 60px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
    }
    .slick-initialized .slick-slide {
      display: block;
      height: 90px;
    }
    .o-companies--carousel {
      h3 {
        @extend .u-super-heading; //see base.scss
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}