$content-info-color: lighten($tertiary-color, 30);

[role='contentinfo'] {	
	color: white;
	a, a:visited {
		color: white;
	}
	a:hover {
		color: lighten($content-info-color, 15);
	}
	h4 {
		color: white;
		font-weight: 700;
	}
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.address {
		padding: 0;
	}
}

.footer-bottom {
	background-color: $content-info-color;
}

.footer-bottom {
	padding: rem-calc(30) 0 rem-calc(40);
}

.footer-nav, .footer-insurance, .footer-research, .footer-office {
	@extend .columns;
	@extend .small-12;
	@extend .medium-2;
}

.footer-content {
	@extend .columns;
	@extend .small-12;
	@extend .medium-4;
}

.footer-info {
	background-color: darken($content-info-color, 30);
	padding: rem-calc(20) 0 rem-calc(20);
}

.footer-copyright {
	@extend .columns;
	@extend .small-12;
	@extend .medium-9;
}

.footer-social {
	@extend .columns;
	@extend .small-12;
	@extend .medium-3;
	text-align: right;
	font-size: rem-calc(32);
	a:hover {
		color: lighten($content-info-color, 5);
	}
}

@media #{$small-only} {
	[role='contentinfo'] {
		text-align: center;
	}
	.footer-social {
		text-align: center;
	}
	.footer-nav, .footer-insurance, .footer-research, .footer-office {
		margin-top: rem-calc(20);	
	}
}

@media #{$medium-only} {
	[role='contentinfo'] {
		h4 {
			font-size: rem-calc(18);
		}
	}
}