$main-color: $secondary-color;

[role='main'] {
  @extend .u-common-padding;
  .page-template-index & {
    @extend .u-make-it-white; //see base.scss
    background-color: $main-color;
  }
  .o-content-pane {
    @extend .medium-8;
    @extend .columns;
  }

  .o-aside-pane {
    @extend .medium-4;
    @extend .columns;
    @extend .right;
    &.DNNEmptyPane + .o-content-pane {
      @extend .medium-12;
      border-right: 0;
    }
  }

  .o-top-pane, .o-bottom-pane {
    @extend .small-12;
    @extend .columns;
  }

  // Half size HR
  .half-rule {
    margin: 40px auto;
    width: 100px;
  }

}

@media #{$medium-up} {
  [role='main'] {
    .o-aside-pane {
      padding-left: 20px;
    }
  }
}
